name: Deploy to WordPress by ID

on:
  pull_request:
    types: [closed]
  workflow_dispatch:

jobs:
  deploy:
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Send to WordPress
        run: |
          FILES=$(find content/wiki -name "*.md")
          for FILE in $FILES; do
            if [ -f "$FILE" ]; then
              # IDを確実に抽出（
